{% extends 'base.html' %}

{% block content %}

<div class="card">

  <div class="card-header">
    {{ costumer_record.first_name}} 
    {{ costumer_record.last_name }}
  </div>

  <div class="card-body">
    <p class="card-text">
      <strong>Email : </strong> {{ costumer_record.email }} <br>

      <p class="card-text">
      <strong>Phone :</strong> {{ costumer_record.phone }} </p>

      <p class="card-text">
      <strong>Address : </strong> {{ costumer_record.address }}</p>

      <p class="card-text">
      <strong>City : </strong> {{ costumer_record.city }} </p>

      <p class="card-text">
      <strong>State : </strong> {{ costumer_record.state }}</p>

      <p class="card-text"> 
      <strong>Zipcode : </strong> {{ costumer_record.zipcode }}</p>

      <p class="card-text"> 
      <strong>ID :  </strong> {{ costumer_record.id }}</p>
  </div>
</div>

<br> <br>
<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
<a href="{% url 'update_record' costumer_record.id %}" class="btn btn-secondary">Update</a>
<a href="{% url 'delete_record' costumer_record.id %}" class="btn btn-danger">Delete</a> 
<!-- 'delete_record' is the "name" of the path in urls.py  -->
<!-- we pass 'costumer_record.id' to specify the id of specific record -->
{% endblock %}